/*------------------------------*\
    Grid System
\*------------------------------*/

.row {
    width: 100%;
    margin: 0 auto 20px auto;
    display: inline-block;
    position: relative;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    margin-right: 2%;
}

.row .col-1:last-child, .row .col-2:last-child, .row .col-3:last-child,
.row .col-4:last-child, .row .col-5:last-child, .row .col-6:last-child,
.row .col-7:last-child, .row .col-8:last-child, .row .col-9:last-child,
.row .col-10:last-child, .row .col-11:last-child, .row .col-12:last-child {
    margin-right: 0;
}

.row:after,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.col-1  { width: 6%; }
.col-2  { width: 15%; }
.col-3  { width: 23.5%; }
.col-4  { width: 32%; }
.col-5  { width: 40%; }
.col-6  { width: 49%; }
.col-7  { width: 56.5%; }
.col-8  { width: 66%; }
.col-9  { width: 74%; }
.col-10 { width: 82.5%; }
.col-11 { width: 91%; }
.col-12 { width: 100%;  }
